* 
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body 
{
    background-color: rgb(247, 243, 243);
    margin-bottom: 200px;
}
.container-1
{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* background-color: rgb(255, 237, 237);    */
}
.container 
{
    width: 250px;
    height: 180px;
    margin: 20px;
    background-color: white;
    box-shadow: 5px 5px 15px 1px rgb(118, 116, 116);
    display: flex;
    /* flex-wrap: wrap; */
}
.box 
{
    width: 140px;
    height: 140px;
    background-color: rgba(192, 189, 192, 0.86);
    /* display: flex; */
    /* justify-content: center;
    align-items: center; */
    margin-top: 20px;
    margin-left: 55px;
    display: block;
    /* transform: rotate(24deg); */
}
.box-2 
{
    width: 140px;
    height: 140px;
    background-color: rgba(206, 115, 206, 0.552);
    /* margin-top: 20px; */
    /* margin-left: 55px; */
    transition: all 0.5s;
}
.box-2:hover 
{
    transform: rotate(45deg);
}
.box-3 
{
    width: 140px;
    height: 140px;
    background-color: rgba(206, 115, 206, 0.552);
    transition: all 0.5s;
}
.box-3:hover 
{
    transform: scaleY(0.75);
}
.box-4
{
    width: 140px;
    height: 140px;
    background-color: rgba(206, 115, 206, 0.552);
    transition: all 0.5s;
}
.box-4:hover 
{
    transform: scaleX(0.75);
}
.box-5
{
    width: 140px;
    height: 140px;
    background-color: rgba(206, 115, 206, 0.552);
    transition: all 0.5s;
}
.box-5:hover 
{
    transform: scale(1.8);
}
.box-6
{
    width: 140px;
    height: 140px;
    background-color: rgba(206, 115, 206, 0.552);
    transition: all 0.5s;
}
.box-6:hover 
{
    transform: scaleX(1.8);
}
.box-7
{
    width: 140px;
    height: 140px;
    background-color: rgba(206, 115, 206, 0.552);
    transition: all 0.5s;
}
.box-7:hover 
{
    transform: scaleY(2);
}
.box-8
{
    width: 140px;
    height: 140px;
    background-color: rgba(206, 115, 206, 0.552);
    transition: all 0.5s;
}
.box-8:hover 
{
    transform: skew(39deg);
}
.box-9
{
    width: 140px;
    height: 140px;
    background-color: rgba(206, 115, 206, 0.552);
    transition: all 0.5s;
}
.box-9:hover 
{
    transform: skew(-0deg, 50deg);
}
.box-10
{
    width: 140px;
    height: 140px;
    background-color: rgba(206, 115, 206, 0.552);
    transition: all 0.5s;
}
.box-10:hover 
{
    transform: translate(3rem, 1.3rem);
}
.box-11
{
    width: 140px;
    height: 140px;
    background-color: rgba(206, 115, 206, 0.552);
    transition: all 0.5s;
}
.box-11:hover 
{
    transform: translateX(50px);
}
.container-2
{
    display: flex;
    justify-content: center;
}
.box-12
{
    width: 140px;
    height: 140px;
    background-color: rgba(206, 115, 206, 0.552);
    transition: all 0.5s;
}
.box-12:hover 
{
    transform: translateY(60px);
}
.box-13
{
    width: 140px;
    height: 140px;
    background-color: rgba(206, 115, 206, 0.552);
    transition: all 0.5s;
}
.box-13:hover 
{
    transform-origin: left;
    transform: scale(1.7) skewY(40deg) translateY(-50px);
}
.container-3
{
    display: flex;
    justify-content: center;
}
.box-14
{
    width: 140px;
    height: 140px;
    background-color: rgba(206, 115, 206, 0.552);
    transition: all 0.5s;
}
.box-14:hover 
{
    transform: perspective(220px) rotateX(51deg) translateY(15px);
}
.box-15
{
    width: 140px;
    height: 140px;
    background-color: rgba(206, 115, 206, 0.552);
    transition: all 0.5s;
    /* transform-origin: left; */
}
.box-15:hover 
{                        
    transform: perspective(140px) rotateY(45deg) translateY(3px);
}
.container-4
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.container-5
{
    display: flex;
    justify-content: center;
}
.box-16
{
    width: 140px;
    height: 140px;
    background-color: rgba(206, 115, 206, 0.552);
    transition: all 0.5s;
    transform-origin: top right;
}
.box-16:hover 
{                        
    transform: rotate(45deg);
}
.box-17
{
    width: 140px;
    height: 140px;
    background-color: rgba(206, 115, 206, 0.552);
    transition: all 0.5s;
    transform-origin: bottom left;
}
.box-17:hover 
{                        
    transform: rotate(45deg);
}
.box-18
{
    width: 140px;
    height: 140px;
    background-color: rgba(206, 115, 206, 0.552);
    transition: all 0.5s;
    transform-origin: bottom;
}
.box-18:hover 
{                        
    transform: perspective(56px) rotateX(10deg);
}
.box-19
{
    width: 140px;
    height: 140px;
    background-color: rgba(206, 115, 206, 0.552);
    transition: all 0.5s;
    transform-origin: top;
}
.box-19:hover 
{                        
    transform:  perspective(350px) rotateX(55deg);
}
.box-20
{
    width: 140px;
    height: 140px;
    background-color: rgba(206, 115, 206, 0.552);
    transition: all 0.5s;
    transform-origin: left;
}
.box-20:hover 
{                        
    transform: perspective(390px) rotateY(40deg);
}
.box-21
{
    width: 140px;
    height: 140px;
    background-color: rgba(206, 115, 206, 0.552);
    transition: all 0.5s;
    transform-origin: right;
}
.box-21:hover 
{                        
    transform: perspective(390px) rotateY(50deg);
}
.box-22
{
    width: 140px;
    height: 140px;
    background-color: rgba(206, 115, 206, 0.552);
    transition: all 0.5s;
    transform-origin: top right;
}
.box-22:hover 
{                        
    transform: scale(1.9);
}
.box-23
{
    width: 140px;
    height: 140px;
    background-color: rgba(206, 115, 206, 0.552);
    transition: all 0.5s;
    transform-origin: bottom left;
}
.box-23:hover 
{                        
    transform: scale(1.9);
}
.box-24
{
    width: 140px;
    height: 140px;
    background-color: rgba(206, 115, 206, 0.552);
    transition: all 0.5s;
    transform-origin: right;
}
.box-24:hover 
{                        
    transform: scaleX(1.9);
}
.box-25
{
    width: 140px;
    height: 140px;
    background-color: rgba(206, 115, 206, 0.552);
    transition: all 0.5s;
    transform-origin: left;
}
.box-25:hover 
{                        
    transform: scaleX(1.9);
}
.box-26
{
    width: 140px;
    height: 140px;
    background-color: rgba(206, 115, 206, 0.552);
    transition: all 0.5s;
    transform-origin: top;
}
.box-26:hover 
{                        
    transform: scaleY(2.1);
}
.box-27
{
    width: 140px;
    height: 140px;
    background-color: rgba(206, 115, 206, 0.552);
    transition: all 0.5s;
    transform-origin: bottom;
}
.box-27:hover 
{                        
    transform: scaleY(2);
}


